@import "base";

* {outline:0;}

body {
  font-size: 62.5%;
  background: url(/assets/images/blob.png) no-repeat, url(/assets/images/maze.png) 0 430px no-repeat, url(/assets/images/bg_black.jpg) repeat;
  // background-repeat: no-repeat, no-repeat, repeat-x repeat-y;
}

main {
  //@include center;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-smoothing: grayscale;
  position: absolute;

}

.draw-info {
  color: #fff;
  font-size: 1.2em;
  font-family: alfa;
}

.numPlaying {
  font-family: alfa;
}

.gradient {
  border: 1px solid black;
  box-shadow: inset 0 0 5em 1em #000;
}

.container {
  width: 960px;
  overflow: hidden;
  border: none;
  margin: 0 auto;
  margin-top: 36px;

  // .box {
    // width: 300px; height: 300px;

    // background: url("http://lorempixel.com/300/300");
// }
}

h1 {
  font-size: 1.3em;
  background-image: url('/assets/images/logo.png');
  background-repeat: no-repeat;
  width: 364px;
  height: 216px;
  margin: 0 auto;
  border: none;

  span {
    display: none;
  }
}

h2 {
  margin-top: 26px;
  text-transform: uppercase;
  font-weight: regular;
  font-style: normal;
  letter-spacing: 0.15em;
  font-size: 1em;
  color: $yellow;
  font-family: alfa;
  font-weight: normal;
  transform : scale(1,1.35);
  -webkit-transform:scale(1,1.35); /* Safari and Chrome */
  -moz-transform:scale(1,1.35); /* Firefox */
  -ms-transform:scale(1,1.35); /* IE 9+ */
  -o-transform:scale(1,1.35); /* Opera */
  margin-bottom: 55px;
}

button {
  background-color: transparent;
  border: none;
}
.buttons {
  position: relative;
  @include clearfix;

  span {
    display: none;
  }
}

.choice {
    color: white;
    font-family: bit;
    font-size: 1.5em;
    margin-left: 445px;
    margin-top: 80px;
    float: left;
    transform : scale(1,1.35);
    -webkit-transform:scale(1,1.35); /* Safari and Chrome */
    -moz-transform:scale(1,1.35); /* Firefox */
    -ms-transform:scale(1,1.35); /* IE 9+ */
    -o-transform:scale(1,1.35); /* Opera */
  }

.pacman-button {
  position: absolute;
  width: 144px;
  height: 156px;
  background-image: url('/assets/images/pacman.png');
  left: 155px;
  margin-top: 20px;
    &:hover{
   -webkit-animation: backandforth 1s ease 0s;
    -webkit-animation-iteration-count:infinite;
  }
}

.ghost-button {
  // float: right;
  position: absolute;
  width: 155px;
  height: 154px;
  background-image: url('/assets/images/ghost.png');
  right: 150px;
  top:20px;

  &:hover{
     -webkit-animation: upanddown 1s ease 0s;
    -webkit-animation-iteration-count:infinite;
  }
}

@-webkit-keyframes backandforth {0%{left:155px;} 50%{left:170px;} 100%{left:155px;}}
@keyframes upanddown {0%{top:20px;} 50%{top:5px;} 100%{top:20px;}}

.shadow:nth-of-type(1) {
  position: absolute;
  width: 204px;
  height: 38px;
  margin-top: 190px;
  left: 130px;
  background-image: url('/assets/images/shadow.png');
}

.shadow:nth-of-type(3) {
  position: absolute;
  width: 204px;
  height: 38px;
  margin-top: 190px;
  right: 125px;
  background-image: url('/assets/images/shadow.png');
}

.shadowSmall {
  position: absolute;
  width: 73px;
  height: 31px;
  margin-top: 140px;
  left: 430px;
  background-image: url('/assets/images/shadowSmall.png');
}

.buttons p:nth-of-type(1) {
  background-image: url('/assets/images/text1.png');
  width: 204px;
  height: 47px;
  position: absolute;
  left: 145px;
  top: 240px;
}


.buttons p:nth-of-type(3) {
  background-image: url('/assets/images/text2.png');

  width: 215px;
  height: 47px;
  position: absolute;
  right: 155px;
  top: 240px;
}
.people {
  margin-top: 250px;
  margin-bottom: 50px;
  font-family: bit;
  color: white;
  font-size: 1.32em;
  transform : scale(1,1.35);
  -webkit-transform:scale(1,1.35); /* Safari and Chrome */
  -moz-transform:scale(1,1.35); /* Firefox */
  -ms-transform:scale(1,1.35); /* IE 9+ */
  -o-transform:scale(1,1.35); /* Opera */

  strong {
    color: $yellow;
    font-size: 1.2em;
  }
}
.hidden {
  display: none;
}

.error-pacman-first {
  text-transform: uppercase;
  color: #eac700;
  letter-spacing: 0.15em;
  position: absolute;
  right: 135px;
  top: 310px;
  transform : scale(1,1.35) skew(20deg,0deg);
  -webkit-transform:scale(1,1.35) skew(20deg,0deg); /* Safari and Chrome */
  -moz-transform:scale(1,1.35) skew(20deg,0deg); /* Firefox */
  -ms-transform:scale(1,1.35) skew(20deg,0deg); /* IE 9+ */
  -o-transform:scale(1,1.35) skew(20deg,0deg); /* Opera */

}

.error-ghost{
  text-transform: uppercase;
  color: #ff0066;
  letter-spacing: 0.15em;
  position: absolute;
  left: 140px;
  top: 310px;
  transform : scale(1,1.35) skew(-20deg,0deg);
  -webkit-transform:scale(1,1.35) skew(-20deg,0deg); /* Safari and Chrome */
  -moz-transform:scale(1,1.35) skew(-20deg,0deg); /* Firefox */
  -ms-transform:scale(1,1.35) skew(-20deg,0deg); /* IE 9+ */
  -o-transform:scale(1,1.35) skew(-20deg,0deg); /* Opera */
}

.three {
  margin-top: -62px;
}

// .start {
//   position: absolute;
// }

.timing {
    font-size: 3.5em;
  position: absolute;
    margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
    color: #e8e8e8;
  font-family: bit;
  text-shadow: 2px 2px 0px rgba(255, 0, 102, 1);
}

.finished {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 230px;
  position: absolute;
  color: #ff0066;
  font-family: bit;
  font-size: 3.5em;
  line-height: 1.3em;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 50px;
  padding-bottom: 50px;

  &::after {
    content: "Wait to restart";
    position: absolute;
    left: -5px;
    right: 0;
    top: 128px;
    color: #ddca26;
  }

  span {
    font-size: 1.55em;
    color: #e8e8e8;
    text-shadow: 2px 2px 0px rgba(255, 0, 102, 1);
  }
}

.timing p + p {
  font-size: 50%;
  margin-top: 30px;
  font-family: alfa;
}
