@import 'mixins';
@import 'reset';

body {
  font-size: 62.5%;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}

main {
  //@include center;
  width: 100%;
  height: 100%;
  font-size: 1.8em;
}

h1 {
  font-size: 1.3em;
}
