<div class="start">

  <h1>3D Pacman</h1>

  <div class="buttons">
    <button type="button" class="pacman-button">Pacman</button>
    <button type="button" class="ghost-button">Ghost</button>

    <div class="error-pacman-first hidden">But there's no Pacman yet</div>
    <div class="error-ghost hidden">We already have a pacman for this game, but we still need ghosts</div>
  </div>

  <div class="waiting">
    <p class="people"><span class="numPlaying">0</span> people are now playing</p>
  </div>

</div>

<div class="timing hidden">
  <p><span class="countdown">60</span> seconds left</p>
</div>

<p class="finished hidden">You win/lose!</br> thanks for playing</p>

<div class="three">

</div>
