<div class="gradient">
<div class="container">
  <div class="start">
<div class="title">
    <h1><span>3D Pacman</span></h1>
    <h2>Pick your favorite character</h2>
</div>
    <div class="buttons">
       <button type="button" class="pacman-button"><span>Pacman</span></button>
       <div class="shadow"></div>
       <p><span>Scream to scare away the ghosts.</span></p>

       <p class="choice">or</p>

       <div class="shadowSmall"></div>
       <button type="button" class="ghost-button"><span>Ghost</span></button>
       <div class="shadow"></div>
      <p><span>Mutiplayer ghosts.</span></p>

       <div class="error-pacman-first hidden">There's no Pacman.</div>
     <div class="error-ghost hidden">We only need ghosts!</div>

    </div>



    <div class="waiting">
      <p class="people">There are currently <span class="numPlaying"><strong>0</strong></span> players</p>
    </div>
</div>
  </div>
  </div>

  <div class="timing hidden">
    <p><span class="caughtCoins">0</span>/20</p>
    <p><span class="countdown">60</span> seconds left</p>
  </div>

  <p class="finished hidden"><span></span></br> Wait to restart</p>
     </div>
  <div class="three">

  </div>

