<h1>Start page</h1>

<!--<button type="button" onclick="location.href='/game';">Go to game page</button>-->

<button type="button" class="new-game" >New game</button> <!--onclick="location.href='/game';"-->

<div class="games"></div>
